<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit city</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
<h1>Edit city</h1>
<p>
    <a href="/city">city list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-city}" th:object="${city}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Province:</td>
            <td>
                <select name="country">
                    <option th:each="c : ${country}"
                            th:value="${c.id}"
                            th:text="${c.name}"
                            th:selected="(${city.country}) and (${c.id} == *{country.id})"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>area:</td>
            <td><input type="text" th:field="*{area}"/></td>
        </tr>
        <tr>
            <td>population:</td>
            <td><input type="text" th:field="*{population}"/></td>
        </tr>
        <tr>
            <td>gdp:</td>
            <td><input type="text" th:field="*{gdp}"/></td>
        </tr>
        <tr>
            <td>descriptionOfTheCity:</td>
            <td><input type="text" th:field="*{descriptionOfTheCity}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update city"></td>
        </tr>
    </table>
</form>
</body>
</html>
